.primary-nav{
	
	&--pull-right{
		float: right;
	}

	ul{
		margin: 15px 10px 0 0;
		padding: 0;

		@mixin clearfix;
	}

	li{
		list-style: none;
		float: left;
		margin-right: 20px;
	}
	a{
		color: #fff;
		font-weight: 300;
		padding: 12px 0;
	}
}